html, body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.titulo{
    background-color:#BFD7FF;
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 0px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.padre{
    background:url(../imagenes}/cover.jpg);
    background-size:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto; 
}

.padre .hijo{
    background-color: #658E9C;
    margin-top:1px;
    width: 330px;
    height:430px;
    border-radius: 8px solid;
    box-shadow: solid 1px 1px 1px #6a6a6a;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  
}

.comida{
    background-color: #5465FF;
    padding:10px;
    margin:10px;
}
.precio{
    background-color: #5465FF;
    padding:10px;
    margin:10px;
}

.descripcion{
    background-color: #5465FF;
    padding:10px;
    margin:10px;
}

button{
 position:relative;
 padding:10px 15px;
 border:none;
 outline:none;
 background:#350642;
 color:#dcc2e4;
 cursor: pointer;
 overflow:hidden;

}

button:hover{
    color :white;

}

button span{
    position: absolute;
    background: white;
    transition:0.5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top:0;
    left:-100%;
}
button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom:0;
    right:-100%;
}
button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom:-100%;
    left:0%;
}
button span:nth-child(4){
    width: 1px;
    height: 100%;
    top:-100%;
    right:0;
}

button:hover span:nth-child(1){
    left:0;
}
button:hover span:nth-child(2){
    right:0;
}
button:hover span:nth-child(3){
    bottom:0;
}
button:hover span:nth-child(4){
    top:0;
}


.pizza{
    margin-top:10px;
    width: 150px;
    height: 150px;
}